@font-face {
    font-family: "Norwester";
    src: url("norwester.otf");
}


/* Cells */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #2c2c24;
    outline: outset #5c5c51;
}

.cellName {
    width: 130px;
}

.correct {
    background-color: #65eb36;
    outline-color: #47a325;
}

.incorrect {
    background-color: #ff3839;
    outline-color: #9e2323;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(138, 31, 31);
    /* background: #681616; */
    height: 70%;
    width: 70%;
}

.downArrow {
    clip-path: polygon(90% 48%, 70% 50%, 70% 0, 30% 0, 30% 50%, 10% 48%, 50% 100%);
}

.upArrow {
    clip-path: polygon(90% 52%, 70% 50%, 70% 100%, 30% 100%, 30% 50%, 10% 52%, 50% 0);
}


/* EndScreen */
.endScreen {
    width: 406px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.endText {
    color: #ffffa2;
    background-color: #ff3839;
    font-family: "Norwester";
    font-size: 50px;
    height: 63px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.endImage {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: outset #5c5c51;
}

.button {
    background-color: #2dbca6;
    font-family: "Norwester";
    border: outset #2dbca6;
    border-radius: 10px;
    font-size: 20px;
    height: 60px;
    width: 185px;
    margin: auto;
    margin-right: 0px;
    margin-bottom: 0px;
}

.button:hover {
    background-color: #ffffa2;
    border-color: #ffffa2;
}


/* Text */
input[type=text] {
    color: #ffffa2;
    font-family: "Norwester";
}

.cellText {
    text-align: center;
    text-anchor: middle;
    font-family: "Norwester";
    font-size: 18px;
}

.labelText {
    color: #ffffa2;
}


/* Images */
.logo {
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding-right: 17px;
    height: 150px;
}


/* Lists */
.ulStyle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0px;
}

.listElement {
    list-style: none;
}

.attemptLabels {
    margin-bottom: 17px;
}

.attemptLabelElement {
    border-radius: 5px;
    height: 60px;
}


/* Mui components */
.MuiAutocomplete-root {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 400px;
    background-color: #2c2c24;
    border-radius: 10px;
    border: outset #5c5c51;
}

.Mui-expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.MuiTextField-root>label {
    color: #ffffa2;
    font-family: "Norwester";
}

.MuiTextField-root>.MuiFormLabel-root.Mui-focused {
    color: #72724a;
}

.MuiAutocomplete-listbox {
    background-color: #2c2c24;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: outset #5c5c51;
    border-top: none;
    scrollbar-width: none;
}

.MuiAutocomplete-option {
    color: #ffffa2;
    font-family: "Norwester";
}

.MuiAutocomplete-option.Mui-focused {
    background-color: #ffffa2 !important;
    color: #2c2c24;
}

.MuiPopper-root {
    width: 406px !important;
}

.MuiPaper-root {
    border-radius: 0px !important;
    background-color: transparent !important;
}

.MuiInputBase-root::before,
.MuiInputBase-root::after {
    border-bottom: none !important;
}