@font-face {
    font-family: "Norwester";
    src: url("norwester.otf");
}

input[type=text] {
    color: #ffffa2;
    font-family: "Norwester";
}

.logo {
    display: flex;
    margin: auto;
    margin-top: 30px;
    padding-right: 17px;
    height: 150px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #ffffa2;
    outline: outset #5c5c51;
}

.correct {
    background-color: #65eb36;
    outline-color: #47a325;
}

.incorrect {
    background-color: #ff3839;
    outline-color: #9e2323;
}

.cellName {
    width: 130px;
    height: 100px;
}

.cellText {
    text-align: center;
    text-anchor: middle;
    font-family: "Norwester";
    font-size: 18px;
}

.labelText {
    color: #ffffa2;
    font-family: "Norwester";
}

.listElement {
    list-style: none;
}

.ulStyle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0px;
}

.attemptLabels {
    margin-bottom: 17px;
}

.attemptLabelElement {
    border-radius: 5px;
    height: 60px;
    background-color: #2c2c24;
}

/* Mui components: */

.MuiAutocomplete-root {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 400px;
    background-color: #2c2c24;
    border-radius: 10px;
    border: outset #5c5c51;
}

.Mui-expanded {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.MuiTextField-root>label {
    color: #ffffa2;
    font-family: "Norwester";
}

.MuiTextField-root>.MuiFormLabel-root.Mui-focused {
    color: #72724a;
}

.MuiAutocomplete-listbox {
    background-color: #2c2c24;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: outset #5c5c51;
    border-top: none;
    scrollbar-width: none;
}

.MuiAutocomplete-option {
    color: #ffffa2;
    font-family: "Norwester";
}

.MuiAutocomplete-option.Mui-focused {
    background-color: #ffffa2 !important;
    color: #2c2c24;
}

.MuiPopper-root {
    width: 406px !important;
}

.MuiPaper-root {
    border-radius: 0px !important;
    background-color: transparent !important;
}

.css-hwkq3c-MuiInputBase-root-MuiFilledInput-root::before,
.css-hwkq3c-MuiInputBase-root-MuiFilledInput-root::after {
    border-bottom: none !important;
}